 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
         <div class="row">
         <div align="center">
         <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7334241771588328",
        enable_page_level_ads: true
        });
    </script>
     </div>
     </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>This is my site where I post all my work with Digital Signal Processing. It includes some cool work with music and image files as well as some machine learning done in MATLAB.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am an Electrical and Computer Engineer that loves messing around with audio and image files in MATLAB, experimenting with machine learning and digital filters.  </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://github.com/auisgold" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Check out my work!
                    </a>
                </div>
            </div>
        </div>
    </section>
